{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register Page</title>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <!-- https://fonts.google.com/specimen/Open+Sans -->
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css'%}">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="{% static 'css/tooplate.css'%}">
</head>

<body class="bg03">

    <div class="container">
        <div class="row tm-mt-big">
            <div class="col-12 mx-auto tm-login-col">
                <div class="bg-white tm-block">
                    <div class="row">
                        <div class="col-12 text-center">
                            <i class="fas fa-3x fa-tachometer-alt tm-site-icon text-center"></i>
                            <h2 class="tm-block-title mt-3">Register</h2>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <form action="register2db" method="post" class="tm-login-form">
                                {% csrf_token %}
                                <div class="input-group">
                                    <label for="username" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Username</label>
                                    <input name="username" type="text" class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7" id="username" value="username" onfocus="javascript:if(this.value=='username'){this.value='';this.style.color='#000000';}" onblur="javascript:if(this.value==''){this.value='username';this.style.color='#aaaaaa';}"required>
                                </div>
                                <div class="input-group mt-3">
                                    <label for="password" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Password</label>
                                    <input name="password" type="password" class="form-control validate" id="password" value="********" onfocus="javascript:if(this.value=='********'){this.value='';this.style.color='#000000';}" onblur="javascript:if(this.value==''){this.value='********';this.style.color='#aaaaaa';}"required>
                                </div>
                                <div class="input-group mt-3">
                                    <label for="telephone" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Telephone</label>
                                    <input name="telephone" type="text" class="form-control validate" id="telephone" value="000-0000-0000" onfocus="javascript:if(this.value=='000-0000-0000'){this.value='';this.style.color='#000000';}" onblur="javascript:if(this.value==''){this.value='000-000-0000';this.style.color='#aaaaaa';}"required>
                                </div>
                                <div class="input-group mt-3">
                                    <button type="submit" class="btn btn-primary d-inline-block mx-auto">Register</button>
                                </div>
                                <div class="input-group mt-3">
                                    <p><em>{{ msg }}</em></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="row tm-mt-big">
            <div class="col-12 font-weight-light text-center">
                <p class="d-inline-block text-white py-2 px-4">
                    Copyright &copy; 2018 Admin Dashboard. Edited by Emo.
                </p>
            </div>
        </footer>
    </div>
</body>

</html>